body {
    height: 100vw;
    width: 120vw;
    /*margin: -10px -19px -19px -8px;*/
    width: 100%;
    background-color: #f4f2e9;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
}
